# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Data (ML projects)
data/
datasets/

# Models
models/
*.h5
*.pt
*.pth
*.pkl

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/